/* #091057
#024CAA
#EC8305
#DBD3D3  */

.login-submit{
    padding-top: 5px;
    margin-top: 10px;
}

.form-boader{

    border-width: 4px;
    border-color: blueviolet;
    background-color: #090f5734;
    padding: 10px;
    border-radius: 5px;
}

