/* #091057
#024CAA
#EC8305
#DBD3D3  */


.Footer{
    /* position : absolute; */
    /* bottom : 0; */
    height : 25px;
    margin-top : 40px;
    align-content: center;
    background-color: #dbd3d390;
    color: rgba(0, 0, 0, 0.8);

    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;

    position: fixed;
    bottom: 0pt;
    left: 0pt;
    
}

.Footer_contents {

    height:1.5em; 
    width: 100%; 
    text-align: center;

}
